html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.mainMenu ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 3rem;
	width:
}

.mainMenu li {
	display: inline;
	padding: 1%;
}

.mainMenu a {
	color: blue;
}

#login a {
	background: white;
	border: 1px solid black;
}